<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./../css/styles.css">

</head>

<body>
    <header class="header">
        <figure class="logo">
            <img src="./../img/Marvel_Logo.svg.png" alt="Logo de Marvel">
        </figure>

        <img src="./../img/claqueta.png" alt="" class="menu">
        <nav class="nav">
            <span class="cerrar">X</span>

            <ul class="ul">
                <li>
                    <a href="./../index.html" class="li_a">Inicio</a>
                </li>
                <li>
                    <a href="movies.html" class="li_a">Peliculas</a>
                </li>
                <li>
                    <a href="series.html" class="li_a">Series</a>
                </li>
                <li>
                    <a href="#" class="li_a">Contacto</a>
                </li>
            </ul>
        </nav>
    </header>

    <main class="main">
        <h1>Te atenderemos pronto</h1>
        <p>Gracias por contactarte con nosotros</p>
        <a href="./../index.html" class="volver">Volver</a>
    </main>
</body>
<script src="./../js/script.js"></script>
<script src="./../js/menu_burguer.js"></script>

</html>