<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marvel</title>

    <!-- Estilos CSS -->
    <link rel="stylesheet" type="text/css" href="./../css/styles.css">
</head>

<body>

    <header class="header">

        <figure class="logo">
            <img src="./../img/Marvel_Logo.svg.png" alt="Logo de Marvel">
        </figure>

        
        <img src="./../img/claqueta.png" alt="" class="menu">
        <nav class="nav">
            <span class="cerrar">X</span>

            <ul class="ul">
                <li>
                    <a href="./../index.html" class="li_a">Inicio</a>
                </li>
                <li>
                    <a href="#" class="li_a">Peliculas</a>
                </li>
                <li>
                    <a href="series.html" class="li_a">Series</a>
                </li>
                <li>
                    <a href="contacto.html" class="li_a">Contacto</a>
                </li>
            </ul>
        </nav>

    </header>

    <main>
        <section class="section">
            <h1 id="h1" class="h1 anchor">Peliculas destacadas</h1>
            <div id="movies" class="catalogue"></div>
        </section>
    </main>

    <footer class="footer">
        <p class=".p">
            &copy; Grupo 20 | Codo a Codo
        </p>
    </footer>
</body>
<script src="./../js/script.js"></script>
<script src="./../js/menu_burguer.js"></script>
</html>